.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.statusContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 1 em;
}

.timeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.timeContainer > span > span {
    color: #666;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    30% {
        opacity: 1;
        transform: translateX(50px);
    }

    80% {
        opacity: 1;
        transform: translateX(-100%);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.delete {
    animation: removed-item-animation 0.8s cubic-bezier(0.65, -0.02, 0.72, 0.29);
}