.title {
    text-align: center;
    margin: 0.5em 0;
    position: relative;
}

.form {
    padding: 30px;
}

.filterButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.dialogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    background-color: transparent;
    padding: 1em;
}

.dialogButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: transparent;
}

.pagination {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 1em;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    30% {
        opacity: 1;
        transform: translateX(50px);
    }

    80% {
        opacity: 1;
        transform: translateX(-100%);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.delete {
    animation: removed-item-animation 0.8s cubic-bezier(0.65, -0.02, 0.72, 0.29);
}
